@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(243, 243, 243);
  --secondary-color: rgb(166, 223, 241);
  --multicolor: linear-gradient(
    0deg,
    rgb(249, 224, 245) 0%,
    rgba(166, 223, 241, 1) 50%,
    rgba(135, 208, 224, 0.4) 100%
  );
}

.homePageContainer {
  height: 100vh;
  background-image: url("../assets/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgba(166, 223, 241, 0.9);
  font-family: "SourceSans";
}

.navigationLinks {
  width: 50vw;
  /*   height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  padding-bottom: 2rem;
}

.homeGrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}

.homeGrid2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}

.startButton {
  background-color: #53dbd4;
  width: 15rem;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 16px;
}

.startButton:hover {
  background-color: #43aba5;
}

.logo {
  width: 250px;
}

.text {
  color: white;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  animation-name: movement;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes movement {
  from {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.75);
    opacity: 0.25;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.teal1 {
  background-color: #52dbd4;
  font-size: 2rem;
  padding: 1rem;
}

.teal2 {
  background-color: #42aba5;
  font-size: 2.5rem;
  padding: 1rem;
}

.teal3 {
  background-color: #32827e;
  padding: 1rem;
  font-size: 4rem;
}

.button {
  font-size: clamp(0.6rem, -0.875rem + 3vw, 1rem);
  width: fit-content;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: rgb(82, 219, 212);
  padding: 0.3rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

.header {
  height: 10vh;
  /* height: fit-content; */
  width: 100%;
  background: linear-gradient(
    0deg,
    rgb(243, 243, 243) 0%,
    rgba(166, 223, 241, 1) 70%,
    rgba(166, 223, 241, 1) 100%
  );
  opacity: 0.99;
}

#header-logo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 2rem;
}

.navigation {
  position: fixed;
  width: 10vw;
  min-width: fit-content;
  padding: 1.5rem;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(163, 220, 233) 0%,
    rgb(243, 243, 243) 100%
  );
  text-align: center;
}

.burger-menu {
  display: none;
}

.navlinks {
  /*   margin: 1rem 0 8rem 0; */
  width: 100%;
  padding-top: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* .navlinks h3 {
  margin-bottom: 2rem;
} */

.navlink {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  padding: 0.3rem 1rem;
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: 600;
}

.outlet-feature-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  font-size: 1.3rem;
}

@media only screen and (max-width: 2400px) {
  .calendar {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .navigation {
    padding: 1rem;
  }
}

@media (max-width: 1400px) {
  .homePageContainer {
    background-color: rgba(166, 223, 241, 0.9);
    background-image: none;
  }

  .navigationLinks {
    width: 100%;

    /*  padding-right: 0; */

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
  }

  .homeGrid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .navLogin {
    padding-left: 0;
  }

  .navReg {
    padding-bottom: 0;
  }

  .logo {
    width: 200px;
  }

  .startButton {
    width: 10rem;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    min-height: 15vh;
  }

  #header-logo {
    display: none;
  }

  .navigation {
    display: none;
  }

  .burger-menu {
    height: fit-content;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 0 0 5px 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    text-align: center;
  }

  .burger-navlink {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
  }

  .burger-navlink a {
    text-decoration: none;
    color: black;
  }

  .burger-menu {
    display: block;
  }

  .outlet-container {
    width: 100%;
  }
}
